body{
    background-color:hsla(190,100%,50%,1);
background-image:
radial-gradient(at 52% 52%, hsla(237,100%,49%,1) 0px, transparent 50%),
radial-gradient(at 80% 0%, hsla(189,100%,50%,1) 0px, transparent 50%),
radial-gradient(at 0% 53%, hsla(176,87%,46%,0.95) 0px, transparent 50%),
radial-gradient(at 84% 19%, hsla(240,100%,45%,1) 0px, transparent 50%),
radial-gradient(at 17% 82%, hsla(231,100%,31%,0.95) 0px, transparent 50%),
radial-gradient(at 86% 87%, rgb(32, 243, 250) 0px, transparent 50%),
radial-gradient(at 0% 0%, hsla(233,85%,15%,1) 0px, transparent 50%);

}

p{
    background-color: rgba(0, 0, 0, 0.37);

    color: rgb(211, 211, 211);
    font-family: Verdana;
    font-size: 30px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    
}

.header {
    width: auto;
    display: flex ;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    font-style: sans-serif;
    margin-bottom: 10px;


}

.navbar {
    display: flex;
    font-size: 35px;
    vertical-align: middle;
    font-style: sans-serif ;

}

.nav-link {
    color: rgb(71, 71, 71);
}
.nav-link:hover {
    color: rgb(17, 0, 255);
}

.logo img {
    max-width: 5rem;
}

.main img {
    width: 100%;
    animation: fadeIn 4s ease;
    margin-top: 10%;

}

.main {
    width: 100%;
    margin-top: 7.5rem;
    position: relative;
    display: inline-block;
    text-align: center;   
}

.main p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}

.footer {
    width: auto;
    display: flex;
    flex-direction: row;
    background-color: gray;
    justify-content: space-around;
    padding: 2rem;
    margin-top: 7rem;
}

.footer img {
    width: 7rem;  
    height: 7rem;  
}


@keyframes fadeIn {
    0% { 
        opacity: 0;
        filter: brightness(0.5) blur(15px);
    }
    10% {
        opacity: 1;
        filter: brightness(1) blur(10px);
    }
    20% {
        opacity: 1;
        filter: brightness(1.5) blur(5px);
    }
}

